<form>
    <div class="form-group">
        <label for="name">Fool Name</label>
        <input type="text" class="form-control" id="name" placeholder="Me or well, like me!" ng-model='fool.name'>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="36ish..." ng-model='fool.age'>
    </div>
    <button type="submit" class="btn btn-default" ng-click='postFool()'>Submit</button>
</form>

<div>
    <button class='btn btn-default' ng-click='getFools()'>Click me for more fools!</button>
    <display-fools></display-fools>
</div>